@mixin  center-element {
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
}

@mixin clearfix{

        &::after{
            content:"";
            display: table;
            clear: both;
    
        }
    
    }
    @mixin btn-shadow{
        box-shadow: 0rem 1rem 2rem rgba($color-black,0.4);
    }