$color-grey-dark-1:#4d4e50;
$color-grey-dark-2:rgb(102, 95, 95);

$color-white:white;
$color-white-2:rgba(233, 219, 219, 0.842);
$color-grey-light-1:rgb(167, 151, 151);
$color-grey-light-2:#838996;
$color-grey-light-3:rgb(134, 131, 131);
$color-grey-light-4:#f5f5f5;
$color-yellow:#fff669;
$color-yellow-2:#ffc107;
$color-yellow-3:rgb(206, 206, 50);
$color-white-dark:#d7d7d7;
$color-green:#619f7b;
$color-green-2:rgb(79, 124, 79);
$color-black:#010;
$grid-width:100%;
$color-timer:#d7d7d7;

$gutter-horizontal:6rem;
