.btn{

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: $color-white;
    box-sizing: border-box;
    overflow: hidden;
    background-color: $color-green;
    border-color: $color-green;
    color:$color-white;
    border-radius: 5px;
    @include btn-shadow;
    color: $color-white;
        background-image: linear-gradient(120deg,transparent 0%,orangered 50%,$color-yellow 90%);
        background-size: 500%;
        transition: all 0.5s;
    // &__green{


    // }

    &:hover {
        color:black;
        background-size: 100%;
        background-image: linear-gradient(120deg,$color-yellow 0%,orangered 20%,$color-yellow 85%,$color-yellow 100%);

       }

}
.btn-circle{
    background-color: $color-grey-dark-2;
    padding: 1.5rem 1.7rem;
    border-radius: 50%;
}
.btn-v2{
    border: none;
    outline: none;

}